@inherits LayoutComponentBase

<div class="main-container full-height">
    <header>
        <NavBar />
    </header>
    <main>
        <div class="container">
            @Body
        </div>
    </main>
</div>