<div class="navbar-wrapper-outer">
  <div class="navbar-wrapper-inner bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="#">ConvertX.To</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="#">Convert</a>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Convert
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">To PDF Converter</a>
                    <a class="dropdown-item" href="#">To JPG Converter</a>                        
                  </div>
              </li>
              <a class="nav-item nav-link" href="#">Formats</a>
              <a class="nav-item nav-link" href="#">Security</a>
              <a class="nav-item nav-link" href="#">Help</a>
            </div>
          </div>
        </nav>
    </div>
  </div>
</div>